<section class="home">
  <% if current_user %>
    <% redirect_to user_posts_path %>
  <% else %>
  <h1>Welcome to Social Trainer</h1>
    <%= form_for :user, html:{class: "loginform"}, url: sessions_path do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Login" %>
    </p>
    <% end %>
    <% end %>
<%= render partial: 'new'%>
</section>

