<section class="profile">
  <%= image_tag(@user.photo_url, {height:200}) %>
  <h2><%= @user.name %></h2>
  <p>Member Since: <%= @user.created_at %></p>
  <span><%= @user.email %></span>
  <a href="">facebook</a>
  <a href="">twitter</a>
  <a href="">instagram</a>

  <div id="status_bar">
    <ul>
      <h3><li class="status">Status: BANNED</li><h3>
      <h3><li class="karma">Karma: -4</li></h3>
      <% if @user.id == current_user.id %>
        <li class="about"><%= render partial: "edit_about_form", layout: false %></li>
      <% else %>
        <li><%= @user.about %></li>
      <% end %>
    </ul>
  </div>

  <div id="friend_requests">
    <% @user.requested_friendships.each do |request| %>
      <p><%= link_to "#{request.user.name}", request.user %> <%= "wants to add you as a friend" %></p>

      <%= form_for Friendship.new do |f|%>
          <%= f.hidden_field :user_id, :value => request.user_id %>
          <%= f.hidden_field :friend_id, :value => request.friend_id %>
          <%= f.submit "Accept" %>
      <% end %>

      <%= form_for request do |f|%>
          <%= f.hidden_field :user_id, :value => request.user_id %>
          <%= f.hidden_field :friend_id, :value => request.friend_id %>
          <%= f.submit "Deny" %>
      <% end %>

    <% end %>
  </div>

  <div id="new_post_form">
    <%= render partial: "/posts/new", layout: false %>
  </div>

  <ul>
    <% @posts.each do |post| %>
      <li>
        <h4><%= post.title %></h4>
        <span><%= post.created_at %></span>
        <p><%= post.text_field%></p>
      </li>
      <%= render partial: 'comments/new', locals: {post: post} %>
        <!-- <hr> -->
        <% if post.comments.first %>
          <% post.comments.each do |com|%>
          <h5><%= link_to image_tag(User.find_by(id: com.user_id).photo_url, {height:20}) + User.find_by(id: com.user_id).name, url_for(user_path(com.user_id)) %></h5>
            <%= com.content %>
          <h6><%= com.created_at %></h6>
        </li>
        <% end %>
      <% end %>
      <hr>
    <% end %>
  </ul>

</section>
