<section class="profile">
  <%= image_tag(@user.photo_url, {height:200}) %>
  <h2><%= @user.name %></h2>
  <p>Member Since: <%= @user.created_at %></p>
  <span><%= @user.email %></span>
  <a href="">facebook</a>
  <a href="">twitter</a>
  <a href="">instagram</a>

  <div id="status_bar">
    <ul>
      <h2><li class="status">Status: BANNED</li><h2>
      <h2><li class="karma">Karma: -4</li></h2>
      <% if @user.id == current_user.id %>
        <li class="about"><%= render partial: "edit_about_form", layout: false %></li>
      <% else %>
        <li><%= @user.about %></li>
      5<% end %>
    </ul>
  </div>

  <div id="friend_requests">
    <% @user.requested_friendships.each do |request| %>
      <p><%= link_to "#{request.user.name}", request.user %> <%= "wants to add you as a friend" %></p>

      <%= form_for Friendship.new do |f|%>
          <%= f.hidden_field :user_id, :value => request.user_id %>
          <%= f.hidden_field :friend_id, :value => request.friend_id %>
          <%= f.submit "Accept" %>
      <% end %>

      <%= form_for request do |f|%>
          <%= f.hidden_field :user_id, :value => request.user_id %>
          <%= f.hidden_field :friend_id, :value => request.friend_id %>
          <%= f.submit "Deny" %>
      <% end %>

    <% end %>
  </div>

  <div id="new_post_form">
    <%= render partial: "/posts/new", layout: false %>
  </div>

  <ul>
    <% @posts.each do |post| %>
      <li>
        <h4><%= post.title %></h4>
        <span><%= post.created_at %></span>
        <p><%= post.text_field%></p>
      </li>
    <% end %>
  </ul>

</section>
