<section class="home">
  <% if current_user %>
    <% redirect_to user_posts_path %>
  <% else %>
  <h1>Welcome to Social Trainer!</h1><br>
    <%= form_for :user, html:{class: "loginform"}, url: sessions_path do |f| %>
    <p>
      <%= f.text_field :email, :placeholder => "Email" %>
    </p>
    <p>
      <%= f.password_field :password, :placeholder => "Password" %>
    </p>
    <p>
      <%= f.submit "Login" %>
    </p>
    <% end %>
    <% end %>
<%= render partial: '/users/new'%>
</section>
