<section class="home">
  <hr>
  <h2>The Anti-Social Network</h2><hr>    
    <%= form_for :user, html:{class: "loginform"}, url: sessions_path do |f| %>
    <p>
      <%= f.text_field :email, :placeholder => "Email" %>
    </p>
    <p>
      <%= f.password_field :password, :placeholder => "Password" %>
    </p>
      <%= f.submit "Login" %>
    <% end %>
    <button id="signup">Sign Up</button>
<%= render partial: '/users/new'%>
</section>
