<section class="feed">
  <h1><%= link_to image_tag(current_user.photo_url, {height:45}) + current_user.name, url_for(user_path(current_user.id)) %></h1>
  <%= render partial: 'new', layout: false %>
  <ul>
  <% @posts.each do |post| %>
    <li>
      <h3><%= link_to image_tag(User.find_by(id: post.user_id).photo_url, {height:30}) +  User.find_by(id: post.user_id).name, url_for(user_path(post.user_id))  %></h3>
      <h4><%= post.title %></h4>
      <li>
        <p class="posts"><%= post.text_field%></p>
        <h6><%= post.created_at %></h6>
      </li>
      <ul>
        <hr>
        <%= render partial: 'comments/new', locals: {post: post} %>
        <hr>
        <% if post.comments.first %>
          <% post.comments.each do |com|%>
          <h5><%= link_to image_tag(User.find_by(id: com.user_id).photo_url, {height:20}) + User.find_by(id: com.user_id).name, url_for(user_path(com.user_id)) %></h5>
            <%= com.content %>
          <h6><%= com.created_at %></h6>
        </li>
          <% end %>
        <% end %>
      </ul>
      <hr>
    </li>
  <% end %>
  </ul>
</section>
<!-- javascript  text_field-->
