%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Social Tracker"
    %meta{:content => content_for?(:description) ? yield(:description) : "Social Tracker", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    / = yield(:head)
  %body
    / %nav 
    /   %ul
    /     %li
    /       = link_to "HOME", posts_path
    /     -if current_user
    /       %li
    /         = link_to current_user.email, user_path(current_user.id)
    /       %li
    /         = link_to "Logout", session_path(current_user), method: :delete
    /     -else 
    /       %li
    /         = link_to "Sign Up", new_user_path
    /       %li
    /         = link_to "Login", new_session_path
    /       %hr 
        
    #container.container

      #main{:role => "main"}
        = yield
      %footer

