<!DOCTYPE html>
<html>
<head>
  <title>Social Trainer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>
<nav>
  <% if current_user %>
    <h4><%= link_to image_tag(current_user.photo_url, {height:40}) + current_user.name, url_for(user_path(current_user.id)) %></h4>
    <ul>
    <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
    <li><%= link_to "Search Users", users_path %></li>
    <li><%= link_to "Profile", user_path(current_user.id)%></li>
    <li><%= link_to "Home", user_posts_path(current_user.id) %></li>
    </ul>
  <% end %>
</nav>
<div class="cover">
<div class="centerwrap">
<%= yield %>
</div>
</div>
</body>
<footer>
  <li>Train yo'self!<li>
</footer>
</html>
